.showcase {
	height: 400px;
	background-color: var(--primary-color);
	color: #fff;
	position: relative;

	h1 {
		font-size: 40px;
	}

	p {
		margin: 20px 0;
	}

	.grid {
		grid-template-columns: 55% 45%;
		gap: 30px;
		overflow: visible;
	}
}

// .showcase::before,
// .showcase::after {
// 	content: '';
// 	position: absolute;
// 	height: 100px;
// 	bottom: -70px;
// 	left: 0;
// 	right: 0;
// 	background: #fff;
// 	transform: skewY(-3deg);
// 	-webkit-transform: skewY(-3deg);
// 	-moz-transform: skewY(-3deg);
// 	-ms-transform: skewY(-3deg);
// }

.showcase-form {

	height: 350px;
	width: 400px;
	padding: 40px;

	input:focus {
		outline: none;
	}

	.form-control {
		margin: 30px 0;
	}

	input[type='text'],
	input[type='email'] {
		border: 0;
		border-bottom: 1px solid #b4becb;
		width: 100%;
		padding: 3px;
		font-size: irem;
	}
}

.computer_pic {
	border-radius: 10px;
}
